.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    padding: 8px;
    width: 200px;
}

.chip {

    display: flex;
    border: 1px solid black;
    background-color: lightgrey;
    color: black;
    border-radius: 16px;
    margin: 8px;
    align-items: center;
}

.chip button{
    color: red;
    border:none;
    background-color: transparent;
}